@import "tailwindcss";

:root {
  --background: #050816;
  --foreground: #f8fafc;
}

  html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: var(--font-space);
}

/* Hide horizontal scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}